/* 大体结构 */
body{
    background-image: url(../image/common_background.jpg);
    background-repeat: repeat;
}
header {
    display: block;
}
div.header-inner,div.wrapper,div#picSlider,div.footer-inner {
    display: block;
    margin: 0 auto;
    width: 1000px;
    margin-top: 10px;
}
/*div.wrapper,div#picSlider*/
/*div.footer-inner{
    background-color: #fff;
}
*/
/* 头部采用绝对定位*/
div.header-inner{
    position: relative;
    height: 170px;
    outline: solid 0px green;
    border-bottom-style:solid;
    border-bottom: 2px solid #000;
}
div.header-inner div.logo{
    
    width: 400px;
    height: 200px;
}
div.header-inner div.logo a.link-logo{
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    float: left;
    height: 170px;
    width: 160px;
}
div.header-inner div.logo a.link-logo-title-cn{
    background-image: url(../image/logo1.png);
    background-repeat: no-repeat;
    background-position: 0px -170px;
    position: absolute;
    top: 15px;
    float: left;
    left: 180px;
    height: 50px;
    width: 160px;
    outline: 0px red solid;
}
div.header-inner div.logo a.link-logo-title-eng{
    position: absolute;
    top: 65px;
    float: left;
    left: 180px;
    width: 500px;
    outline: 0px red solid;
    font-size: 25px;
    font-weight: 800;
}
div.header-inner div.logo a.link-logo-title-eng:link{
    color:black;
}
div.header-inner div.logo a.link-logo-title-eng:visited{
    color:black;
}
div.header-inner div.logo a.link-logo-title-eng:hover{
    color:black;
}
div.header-inner div.logo a.link-logo-title-eng:active{
    color:black;
}
div.header-inner div.search{
    position: absolute;
    top:50px;
    right: 40px;
    border: 0px solid #000;
}
#searchInput{
    padding: 2px;
    border: 2px solid #000;
}

div.header-inner div.search form input.button{
    position: relative;
    left: -6px;
    top: 0px;
    padding: 5px;
    border: 1px solid #000;
    height: 27px;
    color: #fff;
    background-color: #000;
}
nav {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 40px;
    right: 0px;
    /*background-color: #fff;*/
    outline: solid 0px red;
    z-index: 1;

}

nav ul.nav-menu li.menu-item {
    display: block;
    float: left;
}
nav ul.nav-menu li.menu-item a{
    display: block;
    float: left;
    padding: 5px 10px 5px 10px;
    font-weight:bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
nav ul.nav-menu li.menu-item a:visited{
    text-decoration: none;
    color: #000;
}
nav ul.nav-menu li.menu-item a:link{
    text-decoration: none;
    color: #000;
}
nav ul.nav-menu li.menu-item a:hover{
    border-top: 3px red solid;
    color:red;
    font-size: 18px;
}
nav ul.nav-menu:after{display:block;clear:both;content:"";visibility:hidden;height:0}
nav ul.nav-menu{
    zoom:1;
}
nav ul.nav-menu ul.submenu {
    display: none;
}
nav ul li.menu-item ul li.subitem > a{
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.8);
    filter:alpha(Opacity=90);
    -moz-opacity:0.5;
    /*opacity: 0.5;*/
    display: block;
    float: left;
}

div#picSlider{
    width: 1000px;
    height: 400px;
    background-color: white;
}
div.picShow:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div.picShow{zoom:1;}
div.picShow div.item {
    width:90px;
    height: 400px;
    text-align: right;
    display: block;
    overflow: hidden;
    float: left;
}
div.picShow div.item div.picTitle {
    width:20px;
    height: 360px;
    padding: 40px 35px 0 35px;
    display: block;
    overflow: hidden;
    float: right;
}
div.picShow div.item.present {
    width: 730px;
}
div.picShow div.item a{
    display: block;
    width: 730px;

    color: #000;
    font-size: 25px;
}
div.picShow div.item a:hover {
    color: #666;
}
div.picShow div.item a:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div.picShow div.item a{zoom:1;}
div.picShow div.item div.itemPic{
    height: 400px;
    width: 640px;
    float: right;
    background-size: cover;
}
#picSlider div.item.picItem1 div.picTitle{
    background-color: #ff5a72;
}
#picSlider div.item.picItem2 div.picTitle{
    background-color: #76cef0;
}
#picSlider div.item.picItem3 div.picTitle{
    background-color: #faff5f;
}
#picSlider div.item.picItem4 div.picTitle{
    background-color: #b8e381;
}

div.info:after{display:block;clear:both;content:"";visibility:hidden;height:0}
div.info{zoom:1;position: relative;z-index: 0;}

div.links, div.files {
    display: block;
    float: left;
    height: 400px;
    background-color: #fff;

}
div.links {
    width: 490px;
    margin-right: 10px;
}
div.files {
    width: 500px;

}

/* 模块样式 */
ul.article_title li:after{display:block;clear:both;content:"";visibility:hidden;height:0}
ul.article_title li{zoom:1}
ul.article_title span.title a {
    display: block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 详细内容 */
div.links h2, div.files h2 {
    margin: 15px;
    padding-left: 15px;
    float: left;
    border-left: solid 15px black;
}
div.links span.more, div.files span.more {
    margin: 15px;
    padding-right: 15px;
    float: right;
    position: relative;
    top: 5px;
}
div.info a.link-more:link{
    color:#d14836;
}
div.info a.link-more:visited{
    color:#d14836;
}
div.info a.link-more:hover{
    color:#000;
}
div.links div.title,div.files div.title{
    height: 39px;
    padding-bottom: 15px;
    border-bottom: dashed 3px #aaa;
}

div.info ul.article_title{
    padding: 10px 10px 10px 20px;
}
div.info ul.article_title li{
    padding-top: 10px;

}
div.info ul.article_title li span.title a:link{
    color: black;
}
div.info ul.article_title li span.title a:visited{
    color: black;
}
div.info ul.article_title li span.title a:hover{
    color: #d14836;
}
div.info ul.article_title li span.time{
    float: right;
    padding-right: 10px;
}

footer div.footer-inner{
    border-top: 2px solid #000;
    margin-bottom: 10px;
    padding:10px 0px 10px 0px;
}
footer div.footer-inner div.copyright{
    margin-bottom: 10px;
}
div.footer-inner div.share-link{
    padding: 10px 130px 10px 130px;
    background-color: #fff;
}
div.share-link li{
    display: inline;
    padding: 10px 15px;
}
div.share-link li.normal{
    color: #d14836;
}
div.share-link li.link a:link,div.share-link li.normal a:visited{
    color: #999;
} 
div.share-link li.link a:hover{
    color: #d14836
}
div.footer-inner div.copyright {
    text-align: center;
    padding-top: 10px;
}

/*下面那不是首页的了。。先放在一起*/
div.article_content,div.article_hot{
    float: left;
}
div.article_content{
    position: relative;
    width:660px;
    margin-right: 0px;
    height: 570px;

}
div.article_content  div.article_where{
    padding: 20px 0px 5px 30px;
    font-size: 25px;
}
div.article_content  div.article_where a:link{
    color:#000;
}
div.article_content  div.article_where a:visited{
    color: #000;
}
div.article_content  div.article_where a:hover{
    color: #d14836;
}
div.article_content div div.article_main{
    padding: 10px 0px 10px 30px;
}
div.article_content > div.article_main > ul > li > span.article_title{


}
div.article_content > div.article_main > ul > li > span.article_date{
    color: #428bca;
    margin-left: 15px;
}
div.article_content > div.article_main > ul > li{
    padding:15px 0 0 30px;
    width: 700px;
}
div.article_content > div.article_main > ul > li > span.article_title a:link {
    color: #428bca;
}
div.article_content > div.article_main > ul > li > span.article_title a:visited {
    color: Navy;
}
div.article_content > div.article_main > ul > li > span.article_title a:hover {
    color: #8DBBE4;
}

div.article_page:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
div.article_page{ *zoom:1; }
div.article_page{
    padding: 10px 0px 0px 10px;
    margin-top: 10px; 
    width: 640px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    border-top:1px solid #ddd; 
}
div.article_page span.page_before{
    padding-right: 10px;
}
div.article_page span.page_next{
    padding-left: 10px;
} 

div.article_page a:link{
    color:#000;
}
div.article_page a:visited{
    color:#000;
}
div.article_page a:hover{
    color: #d14836;
}
div.article_page span.read_before{
    padding-right: 200px;
}
div.article_page span.read_next{
    padding-left: 200px;
}
div.article_hot {
    width: 300px;
    padding: 10px 10px 10px 20px;
    border-left: 2px solid #000;
}
div.article_hot div h2{

    padding: 10px;
    border-bottom: 2px solid #d14836;
    color: #d14836;
}
div.article_hot li.article_title{
    display: block;
    padding: 15px 0px 10px 10px;
    border-bottom: 1px #000 dashed;
}
div.article_hot li.article_title a:visited{
    color: black;
}
div.article_hot li.article_title a:link{
    color: black;
}
div.article_hot li.article_title a:hover{
    color: #d14836;
}
/* article read*/

div.article_content_read div.article_title{
    padding: 20px;
    font-size: 25px; 
    text-align: center;
}
div.article_content_read div.article_info{
    text-align: center;
    color: #555;
    font-size: 15px;
}
div.article_content_read div.article_view{
    padding: 20px 10px 0px 30px;
    line-height: 30px;
    margin-bottom: 60px;
}
div.article_content_read div.article_view img{
    display: block;
    width: 100%;
    max-height: 1320px;
}
div.article_content_read div.article_main{
    margin-bottom: 60px;
}



div.article_content_read {

width: 660px;
margin-right: 0px;
float: left;
}

div.container:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
div.container{ *zoom:1; }












